@font-face{
    font-family: 'lato-regular',sans-serif; 
    src: local("lato-regular"),
    url("../fonts/lato-regular.woff2") format("woff2"),
    local("Droidserif"),
    url("../fonts/DroidSerif.woff2") format("woff2");
}

@font-face{
    font-family: "lato-bold"; 
    src: local("lato-bold"), url("../fonts/lato-bold.woff2") format("woff2");
    font-display: swap;
}

@font-face{
    font-family: "lato-medium"; 
    src: local("lato-medium"), url("../fonts/lato-medium.woff2") format("woff2");
    font-display: swap;
}

@font-face{
    font-family: "lato-heavy"; 
    src: local("lato-heavy"), url("../fonts/lato-heavy.woff2") format("woff2");
    font-display: swap;
}

body {
    font-family: 'lato-regular', "Lato";
    margin: 0;
    line-height: 1.5;
}

h1 {
    margin: 0 0 40px 0;
    font-family: "lato-bold", sans-serif;
}

article {
    margin: 100px auto 85px auto;
    max-width: 1780px;
    font-size: 22px;
    color: rgb(45, 45, 45);
}
p:nth-child(2){
    margin-bottom: 40px;
 }

article .stage p:nth-child(2), p, h4 {
    margin: 0;
}

h4 {
    font-family: "lato-heavy",sans-serif;
}

ol {
    padding: 0;
    margin-bottom: 0;
    margin-top: 50px;
    list-style-position: inside;
}

ol li {
    color: rgb(82, 82, 82);
    font-family: "lato-medium", sans-serif; 
    font-size: 16px;
}

img {
    vertical-align: top;
    width: 100%;
    margin-top: 47px;
}

.advice {
    margin-top: 50px;
    font-size: 22px;
    letter-spacing: 1.5;
    word-spacing: 2px;
    color: rgb(82, 82, 82);
}

.advice h4 {
    margin-bottom: 4px;
}

.block {
    max-width: 1095px;
}

.stage {
    margin-top: 50px;
}
